
Manifest.toml

.DS_Store

.vscode/

.ipynb_checkpoints/

benchmark/tune.json

*.gz

lcov.info

deps/nauty27r3/addedgeg

deps/nauty27r3/amtog

deps/nauty27r3/assembleg

deps/nauty27r3/biplabg

deps/nauty27r3/catg

deps/nauty27r3/complg

deps/nauty27r3/config.log

deps/nauty27r3/config.status

deps/nauty27r3/converseg

deps/nauty27r3/copyg

deps/nauty27r3/countg

deps/nauty27r3/cubhamg

deps/nauty27r3/deledgeg

deps/nauty27r3/delptg

deps/nauty27r3/directg

deps/nauty27r3/dreadnaut

deps/nauty27r3/dretodot

deps/nauty27r3/dretog

deps/nauty27r3/edgetransg

deps/nauty27r3/genbg

deps/nauty27r3/genbgL

deps/nauty27r3/geng

deps/nauty27r3/gengL

deps/nauty27r3/genquarticg

deps/nauty27r3/genrang

deps/nauty27r3/genspecialg

deps/nauty27r3/gentourng

deps/nauty27r3/gentreeg

deps/nauty27r3/gtnauty.o

deps/nauty27r3/gtnautyL.o

deps/nauty27r3/gtnautyL1.o

deps/nauty27r3/gtnautyW.o

deps/nauty27r3/gtnautyW1.o

deps/nauty27r3/gtools.o

deps/nauty27r3/gtoolsL.o

deps/nauty27r3/gtoolsW.o

deps/nauty27r3/gutil1.o

deps/nauty27r3/gutil1L.o

deps/nauty27r3/gutil1L1.o

deps/nauty27r3/gutil1W.o

deps/nauty27r3/gutil1W1.o

deps/nauty27r3/gutil2.o

deps/nauty27r3/gutil2L.o

deps/nauty27r3/gutil2L1.o

deps/nauty27r3/gutil2W.o

deps/nauty27r3/gutil2W1.o

deps/nauty27r3/hamheuristic

deps/nauty27r3/labelg

deps/nauty27r3/linegraphg

deps/nauty27r3/multig

deps/nauty27r3/naugraph.o

deps/nauty27r3/naugraph1.o

deps/nauty27r3/naugraphL.o

deps/nauty27r3/naugraphL1.o

deps/nauty27r3/naugraphW.o

deps/nauty27r3/naugraphW1.o

deps/nauty27r3/naugroup.o

deps/nauty27r3/naugroupL.o

deps/nauty27r3/naugroupW.o

deps/nauty27r3/naurng.o

deps/nauty27r3/nausparse.o

deps/nauty27r3/nausparseL.o

deps/nauty27r3/nausparseW.o

deps/nauty27r3/nautil.o

deps/nauty27r3/nautil1.o

deps/nauty27r3/nautilL.o

deps/nauty27r3/nautilL1.o

deps/nauty27r3/nautilW.o

deps/nauty27r3/nautilW1.o

deps/nauty27r3/nautinv.o

deps/nauty27r3/nautinv1.o

deps/nauty27r3/nautinvL.o

deps/nauty27r3/nautinvL1.o

deps/nauty27r3/nautinvW.o

deps/nauty27r3/nautinvW1.o

deps/nauty27r3/naututil.o

deps/nauty27r3/naututil1.o

deps/nauty27r3/naututilL.o

deps/nauty27r3/naututilL1.o

deps/nauty27r3/naututilW.o

deps/nauty27r3/naututilW1.o

deps/nauty27r3/nauty.a

deps/nauty27r3/nauty.o

deps/nauty27r3/nauty1.a

deps/nauty27r3/nauty1.o

deps/nauty27r3/nautycliquer.o

deps/nauty27r3/nautycliquerL.o

deps/nauty27r3/nautycliquerW.o

deps/nauty27r3/nautyL.a

deps/nauty27r3/nautyL.o

deps/nauty27r3/nautyL1.a

deps/nauty27r3/nautyL1.o

deps/nauty27r3/nautyW.a

deps/nauty27r3/nautyW.o

deps/nauty27r3/nautyW1.a

deps/nauty27r3/nautyW1.o

deps/nauty27r3/nbrhoodg

deps/nauty27r3/newedgeg

deps/nauty27r3/NRswitchg

deps/nauty27r3/pickg

deps/nauty27r3/planarg

deps/nauty27r3/ranlabg

deps/nauty27r3/schreier.o

deps/nauty27r3/schreierL.o

deps/nauty27r3/schreierW.o

deps/nauty27r3/shortg

deps/nauty27r3/showg

deps/nauty27r3/subdivideg

deps/nauty27r3/traces.o

deps/nauty27r3/twohamg

deps/nauty27r3/underlyingg

deps/nauty27r3/vcolg

deps/nauty27r3/watercluster2
